@import "../../variables";

.Message {
  color: white;
  font-weight: bolder;
  margin: 0 auto;
}

.Options {
  display: flex;
  justify-content: space-around;
}

.ResultsButton {
  background-color: orange;
  color: $border-color;
}

.NextRoundButton {
  background-color: hotpink;
  color: $border-color;
}
