.Game {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/images/gravel2_iphone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.Timer {
  background-color: green;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.CustomButton {
  display: inline-block;
  border: transparent;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 3;
  font-size: 7rem;
  color: transparent;
  -webkit-text-stroke: 6px black;

  // Move this here
  position: absolute;
  bottom: 50px;
  left: 190px;

  &:hover {
    color:rgb(105, 226, 160);
    -webkit-text-stroke: 5px black;
    font-weight: 3;
    font-size: 7rem;
    animation: pulselanding 1s infinite;
    animation-timing-function: linear;
  }

  @keyframes pulselanding {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);
      100% { transform: scale(1); }
    }
  }
}
