  
.Game {
  text-align: center;
  background-color: rgb(34, 30, 30);
}

.backgroundGravel {
  height: 100vh;
}

.square {
  height: 20px;
  width: 80px;
  position: fixed;
  top: 100px;
  left: 100px;
  background-color: purple;
}


.gobyimage {
  display: inline-block;
  height: 70px; 
  z-index: 1;
  opacity: .9;
  filter: contrast(100%);

  // Move this here
  position: absolute;
  left: 400px;
  top: 200px; 
}

.gobyimage2 {
  display: inline-block;
  height: 95px; 
  opacity: .9;
  filter: contrast(100%);

  // Move this here
  position: absolute;
  left: 800px;
  top: 400px; 
}
