.Game {
  text-align: center;
  background-color: rgb(34, 30, 30);
}

.backgroundGravel {
  height: 100vh;
}

.square {
  height: 20px;
  width: 80px;
  position: fixed;
  top: 100px;
  left: 100px;
  background-color: purple;
}
