@import "../../variables";

.Scrollable {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: $primary-light;
  border-radius: $border-radius;
}

.Grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  //color: $primary-light; //I don't think this does anything? because there's no text on the grid styling?
  background-color: $primary-light;
  border-radius: $border-radius;
  padding: 5px;
}

.Cell {
  color: $primary-dark;
  border-radius: $border-radius;
  padding: 20px;
  font-size: 150%;
  overflow: hidden;
  background-color: $primary-light;
  display: flex;
  align-items: center;
}

.Number {
  justify-content: flex-end;
}

.Header {
  @extend .Cell;
  background-color: $secondary-light;
}

.UserCell {
  background-color: $primary-light;
}

.NoResults {
  @extend .Cell;
  grid-column-end: span 4;
  display: flex;
  justify-content: center;
}
