// Palette
$primary-dark: #3b3a30;
$secondary-dark: #c0ded9;
$primary-light:#eaece5;
$secondary-light:#b2c2bf;
$neutral0: white;
$neutral100: black;

// Components
$border-color: $neutral0;
$background-color: $neutral100;

// Repeated style components
$border-radius: 5px;
