.Background {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(../../assets/gravel2_iphone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  border-radius: $border-radius;
}

.Instructions {
  margin: 0;
  color: white;
  width: 800px;

  // Move this here
  position: absolute;
  left: 40px;
  top: 0;

  display: flex;
  flex-direction: column;
  //text-align: center, right or left // defaults to left

  h1 {
    color: white;
    -webkit-text-stroke: 2px rgb(243, 211, 66);
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
  }

  h4 {
    width: 550px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

.Rectangle {
  height: 100%;
  width: 575px;
  position: absolute;
  top: 0;
  left: 25px;
  background-color: black;
  opacity: .4;
}

.DemoButton {
  color: rgb(27, 179, 95);
  -webkit-text-stroke: 3px rgb(243, 211, 66);

  position: static;

  &:hover {
    color: rgb(243, 211, 66);
    -webkit-text-stroke: 3px rgb(27, 179, 95);
  }
}

.GobyImage {
  display: inline-block;
  height: 75px;
  z-index: 1;
  animation: pulse 2s infinite;
  animation-direction: alternate;

  // Move this here
  position: absolute;
  left: 900px;
  top: 300px;

  @keyframes pulse {
    0% {
      filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(90deg);
    }
    50% {
      filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(90deg);

      100% {
        filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(90deg);
      }
    }
  }
}

.GobyImage2 {
  display: inline-block;
  //transform: rotate(68deg);
  height: 95px;
  z-index: 1;

  // Move this here
  position: absolute;
  left: 700px;
  top: 200px;

  animation: pulse2 2s infinite;
  animation-direction: alternate;

  @keyframes pulse2 {
    0% { //transform: rotate(68deg);
      filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(90deg);
    }
    50% { //transform: rotate(68deg);
      filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(90deg);

      100% { //transform: rotate(68deg);
        filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(90deg);
      }
    }
  }
}


// this is where I would like the timer to go
// Ideally, it would look something like this: https://codepen.io/zebateira/pen/VvqJwm
.TimerCircle {
  display: inline-block;
  background: rgba(58, 143, 90, 0.726);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid rgb(71, 212, 71);
  position: absolute;
  bottom: 600px;
  left: 1245px;
}
