.Background{
  height: 100vh;
  width: 100vw;
  background-color: #060201;
  background-image: url(./assets/goby_home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.Title {
  margin: 0px;
  color: white;
  width: 700px;

  // Move this here
  position: absolute;
  left: 40px;
  top: -10px;

  display: flex;
  flex-direction: column;
  //text-align: center, right or left // defaults to left

  h1 {
    color: transparent;
    -webkit-text-stroke: 4px white;
    font-size:6rem;
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  a {
    font-size:1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: rgb(79, 125, 224);
    text-shadow: black 0.1em 0.1em 0.1em;
  }
}

.CustomButton {
  display: inline-block;
  border: transparent;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 3;
  font-size: 7rem;
  color: transparent;
  -webkit-text-stroke: 6px black;

  // Move this here
  position: absolute;
  bottom: 50px;
  left: 190px;

  &:hover {
    color:rgb(105, 226, 160);
    -webkit-text-stroke: 5px black;
    font-weight: 3;
    font-size: 7rem;
    animation: pulselanding 1s infinite;
  animation-timing-function: linear;   
}

  @keyframes pulselanding {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);
    100% { transform: scale(1); }
    }
  } 
}

