.backgroundgoby { 
  width: 100vw;
  position: absolute;
}

h1 { 
  position: absolute; 
  top: 150px; 
  left: 500; 
  color: white;
}

h4 { 
  position: absolute; 
  top: 200px; 
  left: 200; 
  color: white;
}