@import "../../variables";

.Game {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/gravel2_iphone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  transition: filter .75s ease-out;
}

.Overlay {
  height: 100%;
  width: 100%;
  filter: brightness(.2);
}
