@import "../../variables";


.StartButton {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;

  background-color: green;
  color: $border-color;

  &:disabled {
    background-color: gray;
    color: lightgray;
  }
}
